<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HTQuanLyXe.Properties.Settings.QuanLyXeOKConnectionString"
            connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=QuanLyXeOK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HTQuanLyXe.Properties.Settings.QuanLyXeOKConnectionString1"
            connectionString="Data Source=DESKTOP-6A3SPA5\SQLEXPRESS;Initial Catalog=QuanLyXeOK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
